*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f1f5f9;
height:100vh;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:240px;
background:#0f172a;
color:white;
padding:25px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:12px;
background:#1e293b;
margin-bottom:12px;
border-radius:8px;
}

.chat-section{
flex:1;
display:flex;
flex-direction:column;
}

.chat-box{
flex:1;
padding:25px;
overflow-y:auto;
}

.msg{
padding:14px;
margin-bottom:15px;
border-radius:12px;
max-width:70%;
line-height:1.5;
}

.user{
background:#2563eb;
color:white;
margin-left:auto;
}

.bot{
background:white;
border:1px solid #ddd;
}

.input-area{
display:flex;
padding:20px;
gap:10px;
background:white;
border-top:1px solid #ddd;
}

input{
flex:1;
padding:14px;
border:1px solid #ccc;
border-radius:10px;
font-size:16px;
}

button{
padding:14px 22px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}