<<<<<<< HEAD
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f8;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1e3a8a;
    color:white;
    padding:15px 40px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.container{
    text-align:center;
    margin-top:120px;
}

.container h1{
    font-size:45px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.form-box{
    width:350px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input, select{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
=======
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f8;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1e3a8a;
    color:white;
    padding:15px 40px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.container{
    text-align:center;
    margin-top:120px;
}

.container h1{
    font-size:45px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.form-box{
    width:350px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input, select{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
>>>>>>> 5a5a918964968a8319a61e8a758aa428924e65ba
}